
//animation //
@keyframes scrolling {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

//variables
$color__main: #e4ac7e;
$shadow: 0 .25em .5em $color__main,inset 0 0 1em .20em $color__main;

@mixin title{
    color: $color__main!important;
    text-shadow: 2px 2px 3px #000;
}

h1{
    text-shadow: 4px 5px 3px #000;
    color: #fff;
    padding-left: 15px;
}
.navbar{
    line-height: 1rem;
    z-index: 5;
}
.navbar-toggler{
    background-color: $color__main;
}
.navbar:hover{
    background-color: #fff;
    box-shadow: $shadow;
    z-index:5;
    & h1{
        color: rgb(73, 73, 73);
        text-shadow: 0 0 0 ;
    }
    .navbar-nav .nav-link:hover{
            color: $color__main!important;
    }
}
//menu defilant
.scrolling_menu{
    max-width: 80%;
    margin: 1.5em auto 2em;
    border: 2px solid $color__main;
    font-size:1.3rem;
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    &> :first-child {
        padding-left: 100%;
        animation: scrolling 24s infinite linear;
    }
    .scrolling_title{
        color: rgb(70, 62, 59);
    }
}

.card-title{
    font-size:1.2rem;
}

.card{
    object-fit: cover;
}
section{
    max-width:75%;
    h2{
        @include title;
    }
}

//bas de page//
.footer{
    background-color: $color__main;
    flex-direction: row;
    & .relance{
        width: 10rem;
        max-height: 6rem;
    }
    & .director{
        & a{
            text-shadow: 1px 1px 2px #000;
            &:hover{
                color: #fff!important;
            }
        }
        & .law{
            margin-left: 6.5rem;
            font-size: 0.9rem!important;
            text-shadow: 0 0 0 #000;
        }
    }
}

//page law.html
.mentions{
    & h1{
        color:rgb(83, 81, 81);
        text-shadow: 1px 1px 2px #000; 
    }
    & .font{
        color: rgb(83, 81, 81);
    }
}

.return_home{
    & .link_home{
        text-decoration: none;
        color: $color__main!important;
        &:hover{
            color: #000!important;
        }
        .arrow{
            width:50px;
        }
    }
}


@media all and (min-width: 992px){
    h1{
        @include title;
    }
    .img_carousel{
        margin-top:5.5rem!important;
    }
    .navbar{
        background-color: #fff;
        box-shadow: $shadow;
        z-index:5;
        &:hover h1{
            text-shadow: 2px 2px 3px #000!important;
        }
    }
    .scrolling_menu{
        max-width: 40%;
    }
}

@media all and (max-width:550px){
    .navbar h1{
        font-size: 1.4rem;
    }
    .product_shop .card{
        width: 140px!important;
    }
    section{
        max-width: 90%!important;
    }
}