@charset "UTF-8";
@keyframes scrolling {
  0% {
    transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
@keyframes position-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes position-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  box-sizing: border-box;
}

h1 {
  color: #532901 !important;
  padding-left: 15px;
}

.navbar {
  box-shadow: 0 0.1em 0.3em #e5b99b, inset 0 0 0.5em 0.2em #e5b99b;
}
.navbar .navbar-toggler {
  background-color: #e5b99b;
}
.navbar .navbar-toggler:hover {
  background-color: #532901;
}
.navbar .nav-link {
  padding-left: 1rem;
  color: #532901 !important;
  line-height: 0.5rem !important;
}
.navbar .nav-link:hover {
  opacity: 0.65;
}

.video {
  overflow: hidden;
  width: 100%;
}

iframe {
  position: relative;
  width: 100%;
  height: 330px;
}

.scrolling_menu {
  max-width: 80%;
  margin: 0 auto 2em;
  border: 2px solid #e5b99b;
  font-size: 1.3rem;
  box-shadow: 0 0.25em 0.5em #CCC, inset 0 0 1em 0.25em #CCC;
}
.scrolling_menu > :first-child {
  padding-left: 100%;
  animation: scrolling 30s infinite linear;
}
.scrolling_menu span {
  color: #532901;
}

.card {
  width: 230px !important;
  height: 14rem !important;
  overflow: hidden;
}

#card1 {
  animation: position-left 500ms;
}
#card1:hover {
  filter: brightness(70%);
}

#card2 {
  animation: position-right 1500ms;
}
#card2:hover {
  filter: brightness(70%);
}

#card3 {
  animation: position-left 1500ms;
}
#card3:hover {
  filter: brightness(70%);
}

#card4 {
  animation: position-right 2000ms;
}
#card4:hover {
  filter: brightness(70%);
}

.img_carousel {
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
}

section {
  max-width: 75%;
}
section h2 {
  color: #532901;
}
section .card {
  border: 0px solid transparent !important;
}
section .card-img {
  margin-left: 0 !important;
  height: 300px;
}
section .card-img img {
  object-fit: cover;
  height: 100%;
  width: 220px !important;
}

.slick-prev:before, .slick-next:before {
  color: #000;
}

.footer {
  background-color: #e5b99b;
}
.footer p {
  margin-bottom: 0 !important;
}
.footer .relance {
  width: 10rem;
  max-height: 6rem;
}
.footer .director a {
  color: #463e3b !important;
}
.footer .director a:hover {
  color: #fff !important;
}
.footer .director .law {
  font-size: 0.9rem !important;
}
.footer .director .law:hover {
  color: #fff !important;
}
.footer .director .facebook {
  color: #463e3b !important;
}

.mentions h1 {
  text-shadow: 1px 1px 2px #000;
}
.mentions .font {
  color: #535151;
}

.return_home .link_home {
  text-decoration: none;
  color: #e5b99b !important;
}
.return_home .link_home:hover {
  color: #000 !important;
}
.return_home .link_home .arrow {
  width: 50px;
}

@media all and (min-width: 600px) {
  iframe {
    height: 400px;
  }
}
@media all and (min-width: 700px) {
  iframe {
    width: 700px;
    height: 420px;
  }

  .menu {
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .img {
    width: 20rem;
    height: 18rem;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  #link1 {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .img_carousel {
    margin-top: 5.5rem !important;
  }

  .navbar {
    box-shadow: 0 0.1em 0.3em #e5b99b, inset 0 0 0.5em 0.2em #e5b99b;
    z-index: 5;
    padding: 0 !important;
  }

  .scrolling_menu {
    max-width: 40%;
  }

  .img {
    width: 30rem;
    height: 25rem;
  }
}
@media all and (max-width: 550px) {
  .navbar h1 {
    font-size: 1.4rem;
  }

  section {
    max-width: 90% !important;
  }

  .law {
    margin-left: 3.7rem !important;
  }

  .menu {
    max-width: 500px;
  }
  .menu .card {
    width: 200px !important;
    height: 12rem !important;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 400px) {
  iframe {
    height: 230px;
  }

  .card {
    max-width: 8rem !important;
    max-height: 130px !important;
  }

  h1 {
    font-size: 1.23rem !important;
    padding-left: 3px;
    padding-right: 0;
  }

  .navbar-toggler {
    padding: 2px !important;
  }

  .container-fluid {
    padding: 0;
  }

  .card-img {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
