
//animation //
@keyframes scrolling {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

@keyframes position-left{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0)
    }
}

@keyframes position-right{
    0%{
        transform: translateX(+200%);
    }
    100%{
        transform: translateX(0)
    }
}

//variables
$color__main: rgb(229, 185, 155);
$color__brown : #532901;
$shadow: 0 .1em .3em $color__main,inset 0 0 0.5em .20em $color__main;

@mixin effect{
    &:hover{
        filter: brightness(70%);
    }
}

*{
    box-sizing: border-box;
}

h1{
    color: #532901!important;
    padding-left: 15px;
}

.navbar{
    box-shadow: $shadow;
    & .navbar-toggler{
        background-color: $color__main;
        &:hover{
            background-color: $color__brown;
        }
    }
    & .nav-link{
        padding-left:1rem;
        color: $color__brown!important;
        line-height: 0.5rem!important;
        &:hover{
            opacity: 0.65;
        }
    }
}

// video
.video{
    
    overflow: hidden;
    width:100%;
}
iframe {
    position: relative;
    top: -64px;
    width:100%;
}
// banniere qui defile 
.scrolling_menu{
    max-width: 80%;
    margin: 0 auto 2em;
    border: 2px solid $color__main;
    font-size:1.3rem;
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    &> :first-child {
        padding-left: 100%;
        animation: scrolling 30s infinite linear;
    }
    span{
        color: $color__brown;
    }
}

//animation sur les 4 images 
.card{
    width: 230px!important;
    height:14rem!important;
    overflow: hidden;
}
#card1{
    animation: position-left 500ms;
    @include effect;
}

#card2{
    animation: position-right 1500ms;
    @include effect;
}

#card3{
    animation: position-left 1500ms;
    @include effect;
}

#card4{
    animation: position-right 2000ms;
    @include effect;
}

.img_carousel{
    object-fit: cover;
}

.card-title{
    font-size:1.2rem;
}

section{
    max-width:75%;
    h2{
       color: $color__brown;
    }
    & .card{
        border: 0px solid transparent!important;
    }
    
    & .card-img{
        margin-left: 0!important;
        height: 300px;
        & img{
            object-fit: cover;
            height: 100%;
            width: 220px!important;
          }
      }
}
.slick-prev:before, .slick-next:before{
    color: #000;
}

//bas de page//
.footer{
    p{
        margin-bottom:0!important;
    }
    background-color: $color__main;
    & .relance{
        width: 10rem;
        max-height: 6rem;
    }
    & .director{
        & a{
            color:rgb(70, 62, 59)!important;
            &:hover{
                color: #fff!important;
            }
        }
        & .law{
            font-size: 0.9rem!important;
            &:hover{
                color: #fff!important;
                
            }
        }
    }
    .director .facebook{
        color:rgb(70, 62, 59)!important;
    }
  

}

//page law.html
.mentions{
    & h1{
        text-shadow: 1px 1px 2px #000; 
    }
    & .font{
        color: rgb(83, 81, 81);
    }
}

.return_home{
    & .link_home{
        text-decoration: none;
        color: $color__main!important;
        &:hover{
            color: #000!important;
        }
        .arrow{
            width:50px;
        }
    }
}

@media all and (min-width: 992px) and (max-width:1200px){
    #link1{
        display: none;
    }
}
@media all and (min-width: 700px){
    iframe{
        width: 700px;
        height: 550px;
    }
    .menu{
        column-gap: 1rem;
        row-gap:1rem;
    }
    .img{
        width: 20rem;
        height: 18rem;
    }

}
@media all and (min-width: 992px){
    .img_carousel{
        margin-top:5.5rem!important;
    }
    .navbar{
        box-shadow: $shadow;
        z-index:5;
        padding: 0!important;
    }
    .scrolling_menu{
        max-width: 40%;
    }
    .img{
        width: 30rem;
        height: 25rem;
    }
}

@media all and (max-width:550px){
    .navbar h1{
        font-size: 1.4rem;
    }
    section{
        max-width: 90%!important;
    }
    .law{
        margin-left: 3.7rem!important;
    }
    .menu{
        max-width:500px;
        .card{
            width: 200px!important;
            height: 12rem!important;
        }
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width:400px){
    .card{
        max-width: 8rem!important;
        max-height:130px!important;
    }
    h1{
        font-size:1.23rem!important;
        padding-left: 5px;
        padding-right: 0;
    }
    .navbar-toggler{
        padding: 2px!important;
    }
    .container-fluid{
        padding:0;
    }
    .card-img {
        padding:5px;
    }
}