@charset "UTF-8";
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-shadow: 2px 2px 3px #000;
  padding-left: 15px;
}

.navbar {
  line-height: 1rem;
  z-index: 5;
}

.navbar:focus, .navbar:hover {
  -webkit-box-shadow: 0 0.1em 0.3em #e4ac7e, inset 0 0 0.5em 0.2em #e4ac7e;
          box-shadow: 0 0.1em 0.3em #e4ac7e, inset 0 0 0.5em 0.2em #e4ac7e;
}

.navbar:hover {
  background-color: #fff;
}

.navbar-toggler {
  background-color: #e4ac7e;
}

.scrolling_menu {
  max-width: 80%;
  margin: 1.5em auto 2em;
  border: 2px solid #e4ac7e;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
          box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

.scrolling_menu > :first-child {
  padding-left: 100%;
  -webkit-animation: scrolling 30s infinite linear;
          animation: scrolling 30s infinite linear;
}

.scrolling_menu .scrolling_title {
  color: #463e3b;
}

.card-title {
  font-size: 1.2rem;
}

.card {
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  max-width: 75%;
}

section h2 {
  color: #e4ac7e !important;
  text-shadow: 2px 2px 3px #000;
}

.footer {
  background-color: #e4ac7e;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .relance {
  width: 10rem;
  max-height: 6rem;
}

.footer .director a {
  text-shadow: 1px 1px 2px #000;
}

.footer .director a:hover {
  color: #fff !important;
}

.footer .director .law {
  margin-left: 6.5rem;
  font-size: 0.9rem !important;
  text-shadow: 0 0 0 #000;
}

.mentions h1 {
  text-shadow: 1px 1px 2px #000;
}

.mentions .font {
  color: #535151;
}

.return_home .link_home {
  text-decoration: none;
  color: #e4ac7e !important;
}

.return_home .link_home:hover {
  color: #000 !important;
}

.return_home .link_home .arrow {
  width: 50px;
}

@media all and (min-width: 992px) and (max-width: 1100px) {
  #link1 {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .img_carousel {
    margin-top: 5.5rem !important;
  }
  .navbar {
    -webkit-box-shadow: 0 0.1em 0.3em #e4ac7e, inset 0 0 0.5em 0.2em #e4ac7e;
            box-shadow: 0 0.1em 0.3em #e4ac7e, inset 0 0 0.5em 0.2em #e4ac7e;
    z-index: 5;
  }
  .scrolling_menu {
    max-width: 40%;
  }
}

@media all and (max-width: 550px) {
  .navbar h1 {
    font-size: 1.4rem;
  }
  .product_shop .card {
    width: 140px !important;
  }
  section {
    max-width: 90% !important;
  }
}
/*# sourceMappingURL=style.css.map */