.container {
  max-width: 100% !important;
  background-color: #f8fae4;
}

.blog-header {
  background-color: #92530b;
  text-shadow: 4px 4px 3px #000;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.7rem;
  color: #fffb10;
  text-decoration: none;
  padding: 0.5rem;
}

.blog-header-logo:hover {
  color: #000;
  text-shadow: 4px 4px 3px #fffb10;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 4rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a {
  padding-bottom: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  color: #565e64;
  text-shadow: 1px 1px 1px #000;
}

.nav-scroller .nav a:hover {
  color: #fffb10;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.2rem;
}

.manege {
  width: 100%;
  max-height: 30rem !important;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 3rem;
  --bs-gutter-x: 0rem!important;
}

.phone,
.place {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  color: #92530b;
  margin-bottom: 0;
  margin-top: -1rem;
  text-shadow: 2px 2px 2px #000;
}

.phone:hover,
.place:hover {
  color: #fffb10;
}

.manege,
.imgIndex {
  border: 5px solid #92530b;
  -webkit-box-shadow: 4px 5px 3px #4e4e4e;
          box-shadow: 4px 5px 3px #4e4e4e;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation {
  font-size: 1.3rem;
  padding: 2rem;
}

.presentation::first-letter {
  margin-left: 2rem;
}

.imgIndex {
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2rem auto;
  width: auto;
}

.place {
  max-width: 85%;
  margin: 3rem auto;
}

.precision {
  max-width: 85%;
  margin: 3rem auto;
  font-size: 1.3rem;
  text-align: justify;
}

.footer {
  background-color: #92530b;
  padding-bottom: 1rem;
}

.footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.footer .director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer .director img {
  width: 4rem;
  height: auto;
}

.footer .director a {
  color: #fffb10;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
}

.footer .director a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media all and (max-width: 1200px) {
  .imgIndex {
    max-height: 19rem;
  }
  .presentation {
    padding-top: 2rem !important;
    padding-left: 1.3rem;
    padding-right: 1rem;
    text-align: justify;
  }
  .precision {
    max-width: 90%;
  }
}

@media all and (max-width: 925px) {
  .presentation {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: auto;
    padding: 0 3rem;
    text-align: justify;
  }
  .row {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    --bs-gutter-x: 0rem!important;
  }
  .row .imgIndex {
    max-height: 22rem !important;
    width: 20rem !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav-scroller {
    height: auto;
  }
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav a {
    font-size: 1rem;
    padding-right: 3rem !important;
  }
  .nav a:nth-child(1) {
    margin-left: 2rem;
  }
}

@media all and (max-width: 500px) {
  .container,
  .presentation,
  .precision {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */